@import "tailwindcss";

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #E6EDF3;
  }
}

body {
  color: var(--foreground);
}
